@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-pale: hsl(225, 100%, 94%);
  --primary-bright: rgb(56, 41, 224);

  --neutral-very-pale: hsl(225, 100%, 98%);
  --neutral-desaturated: hsl(224, 23%, 55%);
  --neutral-dark: hsl(223, 47%, 23%);
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

.image-background {
  background-image: url("./assets/images/pattern-background-mobile.svg");
}

@media (min-width: 1024px) {
  .image-background {
    background-image: url("./assets/images/pattern-background-desktop.svg");
  }
}
